.searchbar-cont{
    display: flex;
    justify-content: center;
    input{
        width:30%;
        font-size:20px;
        padding:15px 10px;
    }
    .search-button{
        margin-left:20px;
        border:1px solid black;
        display: inline-block;
        padding-top:17px;
        padding-left:10px;
        padding-right:10px;
        p{
            margin:0px;
        }
    }
}