.header-container{
    width:90%;
    display: flex;
    justify-content: flex-start;
    margin-bottom:30px;
    span{
        font-size:18px;
        font-family: clone-rounded-latin, sans-serif;
    }
}